body {
    text-align: center;
}

canvas {
    background-image: url("dinobackground.png");
    animation: animatedBackground 4s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -600px 0px;
    }
}